$facebook: #0084ff;
.works {
  .breadcumbs {
    text-align: center;
    margin-top: 150px;
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
      margin-right: 10px;
      color: rgba(0, 0, 0, 0.4);
      transition: 0.5s ease-in-out;
    }
    a:hover {
      color: crimson;
    }
    p {
      height: 10px;
      color: $facebook;
    }
  }
  .works_title {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .col-xs-12 {
    margin-bottom: 30px;
  }
  .box {
    height: 350px;
    width: 100%;
    background-position: center;
    background-size: cover;
    .box__content {
      background: #0084ff9c;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      opacity: 0;
      transition: 0.5s ease-in-out;
      h3 {
        font-weight: bold;
        cursor: pointer;
        text-align: center;
      }
    }
  }
  .box:hover {
    .box__content {
      opacity: 1;
    }
  }
  .works_c {
    margin: 200px 0px 100px 0px;
    text-align: center;
    a {
      margin-left: 5px;
      text-decoration: none;
    }
  }
}
