.breadcumbs {
  text-align: center;
  margin-top: 150px;
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.breadcumbs a {
  text-decoration: none;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.5s ease-in-out;
}
.breadcumbs a:hover {
  color: crimson;
}
.breadcumbs p {
  height: 10px;
  color: #0084ff;
}

/* ********** */
.contact_title {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

a.non-textdecoration-web {
  color: black;
  text-decoration: none;
  margin-left: 20px;
}
a.non-textdecoration-web:hover {
  color: black;
  text-decoration: none;
  margin-left: 20px;
}

.contact_c {
  width: 100%;
  text-align: center;
  margin: 150px 0px 100px 0px;
}
.contact_c a {
  text-decoration: none;
  margin-left: 5px;
}
